body{
    background-color: lightcyan;
    display: flex;
    margin: 0;
}


header{
    display: flex;
    position: static;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: navy;
    color: aliceblue;
}

nav{
    display: block;
    position: static;
    margin: 0;
    padding: 0;
    width: 15em;
}

nav ul{
    margin: 0;
    padding: 0;
    background-color: white;
    list-style-type: none;
}

nav ul li{
    margin: none;
    padding: 0.1em;
    border: solid black 0.1em;
}

.hidden{
    display: none;
}

.corpo{
    display: block;
    width: 100%;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

table{
    border: solid black;
}

th, td{
    border: solid black;
}

.main{
    display: block;

}
footer{
    margin-bottom: 0;
    position: static;
    display: flex;
    justify-content: center;
}

#footer{
    display: block;
    
}

.foot{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.links{
    display: block;
    padding: 1em;
}

#estados button{
    margin: 1em;
}

#estados input{
    margin: 1em;
}

.concentracao input{
    margin: 1em;
    display: block;
}
.concentracao button{
    margin: 1em;
    display: block;
}