body{
    background-color: lightcyan;
    display: block;
    margin: 0;
}


header{
    display: flex;
    position: static;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: navy;
    color: aliceblue;
}

nav{
    display: block;
    position: static;
    margin: 0;
    padding: 0;
    width: 15em;
}

nav ul{
    margin: 0;
    padding: 0;
    background-color: white;
    list-style-type: none;
}

nav ul li{
    margin: none;
    padding: 0.1em;
    border: solid black 0.1em;
}

.hidden{
    display: none;
}

.desativa{
    display: none;
}

.corpo{
    display: flex;
    width: 100%;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0em 10em;
}

table{
    border: solid black;
}

th, td{
    border: solid black;
}


footer{
    margin-bottom: 0;
    position: static;
    display: flex;
    justify-content: center;
}

#footer{
    display: block;
    
}

.foot{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.links{
    display: block;
    padding: 1em;
}

#estados button{
    margin: 1em;
}

#estados input{
    margin: 1em;
}

.concentracao input{
    margin: 1em;
    display: block;
}
.concentracao button{
    margin: 1em;
    display: block;
}

.densidade input{
    margin: 1em;
    display: block;
}
.densidade button{
    margin: 1em;
    display: block;
}
@media (max-width:700px){
    .corpo{
        display: block;
    }
    
    main{
        margin: 0.5em;
        width: fit-content;
    }
}