body{
    background-color: lightcyan;
    display: block;
    margin: 0;
}


header{
    display: flex;
    position: static;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: navy;
    color: aliceblue;
}

nav{
    display: block;
    position: static;
    margin: 0;
    padding: 0;
    width: 15em;
}

nav ul{
    margin: 0;
    padding: 0;
    background-color: white;
    list-style-type: none;
}

nav ul li{
    margin: none;
    padding: 0.1em;
    border: solid black 0.1em;
}

.hidden{
    display: none;
}

.desativa{
    display: none;
}

.corpo{
    display: flex;
    width: 100%;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0em 10em;
    font-family: Arial, Helvetica, sans-serif;
}

table{
    border: solid black;
}

th, td{
    border: solid black;
}

h1{
    font-size: 4em;
}

h2{
    font-size: 3em;
}

h3{
    font-size: 2em;
}
h4{
    font-size: 1.5em;
}
p{
    font-size: 2em;
}
label{
    font-size: 1.5em;
}

input{
    font-size: 1.5em;
}

option{
    font-size: 1.5em;
}

select{
    font-size: 1.5em;
}

footer{
    margin-bottom: 0;
    position: static;
    display: flex;
    justify-content: center;
}

button{
    font-size: 1.5em;
    margin: 1em;
}

#footer{
    display: block;
    background-color: lightblue;
    
}

.foot{
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

.links{
    display: block;
    padding: 0.5em;
}

.links a{
    display: block;
    margin: 0.5em;
}

#estados button{
    margin: 1em;
}

#estados input{
    margin: 1em;
}

.concentracao input{
    margin: 1em;
    display: block;
}
.concentracao button{
    margin: 1em;
    display: block;
}

.densidade input{
    margin: 1em;
    display: block;
}
.densidade button{
    margin: 1em;
    display: block;
}

#respostaHidrocarboneto, #respostaCalculoPH, #respostaZero, #resposta{
    font-size: 2em;
}

.secaoCartao{
    display: block;
    padding: 0.5em;
}

.card{
    border: black solid 0.1em;
    background-color: aliceblue;
    padding: 0.5em;
    margin: 0.5em;
}

#grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-width: 1em;
    column-gap: 1em;
    padding: 0em;
}

.orbital{
    border: solid black 1em;
    width: 10em;
    height: 6em;
}

@media (max-width:700px){
    .corpo{
        display: block;
    }
    
    main{
        margin: 0.5em;
        width: fit-content;
    }
    #footer, .foot{
        margin: 0.5em;
        padding: 0;
        display: block;
        width: fit-content;
    }

    #footer h2{
        padding: 0;
        margin: 0;
    }

    .links h3{
        padding: 0;
        margin: 0;
    }

    .foot a{
        display: block;
    }

}